## Структури даних Pandas

**Мета роботи:** Ознайомитись з основними структурами даних бібліотеки
Pandas: Series DataFrame, операціями над ними. Навчитись використовувати
ієрархічну індексацію.

**Варіант 3**

### Завдання до лабораторної роботи

Створити програму, яка за даними файлу відповідно до варіантів
лабораторної 2, виконує наступні завдання:
1. Виділити один зі стовпців (на вибір) з файлу як об’єкт Series. Задати
назви індексів цього об’єкту. Виділити підмасиви за допомогою прямої
та непрямої індексацій.
2. До об’єкту DataFrame, в який записано вміст файлу, додати новий
стовпець, що є результатом операцій над іншими стовпцями.
3. Створити ієрархічну індексацію (не менше двох рівнів) для цього об’єкту
DataFrame. Продемонструвати виділення підмасивів за певною ознакою
з використанням мультиіндексації. Продемонструвати розрахунок
результату операції агрегування з використанням ієрархічних рівнів.
4. Створити декілька власних об’єктів DataFrame за такою ж тематикою, що
й файл. Наприклад, якщо тема файлу – жаби, можна створити об’єкти,
що містять розміри жаб, вагу, стать, кількість особин в популяції і т.д.
Використати описані в теоретичних відомостях параметри методу merge
для різних видів злиття даних цих об’єктів.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('possum.csv')
display(df)

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

### 1. Виділити один зі стовпців (на вибір) з файлу як об’єкт Series. Задати назви індексів цього об’єкту. Виділити підмасиви за допомогою прямої та непрямої індексацій.

In [3]:
data = pd.read_csv("possum.csv")
sex_column = data['sex']
sex_column.index = [2 * i + 1 for i in range(len(sex_column), 0, -1)]
sex_column.loc[201:9]

201    f
199    f
197    m
195    f
193    f
      ..
17     m
15     m
13     f
11     m
9      m
Name: sex, Length: 97, dtype: object

In [4]:
sex_column.iloc[3: 23]

203    f
201    f
199    f
197    m
195    f
193    f
191    f
189    f
187    f
185    m
183    m
181    m
179    m
177    f
175    m
173    f
171    f
169    f
167    m
165    f
Name: sex, dtype: object

### 2. До об’єкту DataFrame, в який записано вміст файлу, додати новий стовпець, що є результатом операцій над іншими стовпцями.

In [5]:
df['tail/height'] = df['taill']/df['totlngth']
df['chest height'] = df['totlngth'] - df['hdlngth']/10 - df['footlgth']
display(df)

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly,tail/height,chest height
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0,0.404494,5.09
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0,0.398907,9.75
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0,0.408377,10.70
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0,0.413043,6.58
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0,0.421053,5.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0,0.447853,6.55
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0,0.472727,9.24
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0,0.426966,16.26
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0,0.442424,10.45
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5,0.449438,12.04

### 3. Створити ієрархічну індексацію (не менше двох рівнів) для цього об’єкту DataFrame. Продемонструвати виділення підмасивів за певною ознакою з використанням мультиіндексації. Продемонструвати розрахунок результату операції агрегування з використанням ієрархічних рівнів.

In [6]:
df = pd.read_csv('possum.csv')
df = df.set_index(['site', 'sex', 'case'])
df

                 Pop  age  hdlngth  skullw  totlngth  taill  footlgth  \
site sex case
1    m   1       Vic  8.0     94.1    60.4      89.0   36.0      74.5
     f   2       Vic  6.0     92.5    57.6      91.5   36.5      72.5
         3       Vic  6.0     94.0    60.0      95.5   39.0      75.4
         4       Vic  6.0     93.2    57.1      92.0   38.0      76.1
         5       Vic  2.0     91.5    56.3      85.5   36.0      71.0
...              ...  ...      ...     ...       ...    ...       ...
7    m   100   other  1.0     89.5    56.0      81.5   36.5      66.0
         101   other  1.0     88.6    54.7      82.5   39.0      64.4
     f   102   other  6.0     92.4    55.0      89.0   38.0      63.5
     m   103   other  4.0     91.5    55.2      82.5   36.5      62.9
     f   104   other  3.0     93.6    59.9      89.0   40.0      67.6

               earconch   eye  chest  belly
site sex case
1    m   1         54.5  15.2   28.0   36.0
     f   2         51.2  16.0   28.5   33.0
         3         51.9  15.5   30.0   34.0
         4         52.2  15.2   28.0   34.0
         5         53.2  15.1   28.5   33.0
...                 ...   ...    ...    ...
7    m   100       46.8  14.8   23.0   27.0
         101       48.0  14.0   25.0   33.0
     f   102       45.4  13.0   25.0   30.0
     m   103       45.9  15.4   25.0   29.0
     f   104       46.0  14.8   28.5   33.5

[104 rows x 11 columns]

In [7]:
df[(df['age'] > 5)].xs("m", level="sex")

             Pop  age  hdlngth  skullw  totlngth  taill  footlgth  earconch  \
site case
1    1       Vic  8.0     94.1    60.4      89.0   36.0      74.5      54.5
     26      Vic  7.0     96.0    59.0      90.0   36.0      73.6      56.2
2    36      Vic  7.0     93.3    59.3      88.0   35.0      74.3      52.0
     38      Vic  7.0     92.4    56.0      80.5   35.5      68.4      49.5
3    52    other  6.0     97.6    61.0      93.5   40.0      67.9      44.3
4    54    other  7.0     96.9    63.0      91.5   43.0      71.3      46.0
5    61    other  7.0     95.7    59.0      86.0   38.0      63.1      44.9
     71    other  6.0     92.8    57.6      90.0   40.0      65.7      42.8
6    75    other  6.0     93.8    58.1      89.0   38.0      66.2      45.6
     77    other  6.0     93.6    56.2      84.0   36.0      62.8      42.9
7    89    other  6.0     97.7    58.4      84.5   35.0      64.4      46.2
     94    other  7.0     91.8    57.6      84.0   35.5      64.2      45.1

            eye  chest  belly
site case
1    1     15.2   28.0   36.0
     26    15.0   29.0   38.0
2    36    14.9   25.5   36.0
     38    15.9   27.0   30.0
3    52    15.8   28.5   32.5
4    54    17.5   30.0   36.5
5    61    15.0   26.5   31.0
     71    15.0   27.5   34.0
6    75    16.9   26.0   33.5
     77    16.2   25.0   35.0
7    89    14.4   29.0   30.5
     94    14.4   29.0   35.0

In [8]:
df[(df['age'] <= 5)].xs(("m", 1), level=("sex", "site"))

,Pop,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
case,,,,,,,,,,,
7,Vic,2.0,95.3,58.2,89.5,36.0,71.5,52.0,14.2,30.0,34.5
13,Vic,5.0,95.1,59.9,89.5,36.0,71.0,49.8,15.8,27.0,32.0
14,Vic,3.0,95.4,57.6,91.5,36.0,74.3,53.7,15.1,28.0,31.5
15,Vic,5.0,92.9,57.6,85.5,34.0,69.7,51.8,15.7,28.0,35.0
16,Vic,4.0,91.6,56.0,86.0,34.5,73.0,51.4,14.4,28.0,32.0
18,Vic,2.0,93.5,55.7,90.0,36.0,73.7,55.4,15.3,28.0,32.0
22,Vic,3.0,96.3,58.5,91.0,39.5,73.5,52.1,16.2,28.0,36.0
24,Vic,2.0,94.4,54.9,84.0,34.0,75.0,53.5,16.2,27.0,32.0
25,Vic,3.0,95.8,58.5,91.5,35.5,72.3,51.6,14.9,31.0,35.0
28,Vic,4.0,93.8,56.8,87.0,34.5,73.2,53.0,15.3,27.0,30.0
31,Vic,3.0,92.8,54.1,93.0,37.0,68.0,52.5,14.5,27.0,31.0
33,Vic,3.0,91.4,54.6,89.0,37.0,70.8,51.8,14.8,24.0,30.0

In [9]:
df.groupby(level=("sex", "site")).mean().age

sex  site
f    1       4.421053
     2       2.600000
     3       4.333333
     4       3.000000
     5       4.500000
     6       3.500000
     7       3.500000
m    1       3.857143
     2       4.333333
     3       4.250000
     4       3.400000
     5       4.142857
     6       3.222222
     7       3.428571
Name: age, dtype: float64

In [10]:
df.groupby(level="site").count()['Pop']

site
1    33
2    13
3     7
4     7
5    13
6    13
7    18
Name: Pop, dtype: int64

### 4. Створити декілька власних об’єктів DataFrame за такою ж тематикою, що й файл. Наприклад, якщо тема файлу – жаби, можна створити об’єкти, що містять розміри жаб, вагу, стать, кількість особин в популяції і т.д. Використати описані в теоретичних відомостях параметри методу merge для різних видів злиття даних цих об’єктів.

In [11]:
data = pd.read_csv("possum.csv")
myData1 = {'Pop' : ['Vic', 'other'],
          'Average Number Of Childs': [2, 1]}
frame1 = pd.DataFrame(myData1)
newData1 = pd.merge(data, frame1, left_on='Pop', right_on='Pop')
newData1

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly,Average Number Of Childs
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0,2
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0,2
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0,2
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0,2
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0,1
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0,1
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0,1
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0,1
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5,1

In [12]:
myData2 = {'Pop' : ['Vic', 'KPI', 'other'],
          'Total number of possums in population': [52, 2, 323]}
frame2 = pd.DataFrame(myData2)
newData2 = pd.merge(data, frame2, left_on='Pop', right_on='Pop', how='right')
newData2

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly,Total number of possums in population
0,1.0,1.0,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0,52
1,2.0,1.0,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0,52
2,3.0,1.0,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0,52
3,4.0,1.0,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0,52
4,5.0,1.0,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,100.0,7.0,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0,323
101,101.0,7.0,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0,323
102,102.0,7.0,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0,323
103,103.0,7.0,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0,323
104,104.0,7.0,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5,323

In [13]:
newData2.loc[newData2['Total number of possums in population'] == 2]

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly,Total number of possums in population
46,NaN,NaN,KPI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2